{% assign settings = site.data.settings %}
{% assign au_office = settings.offices['aus'][0] %}
{% assign bg_image = include.bg_image | default: '/assets/img/content/backgrounds/contact-bg--less-compressed-2.jpg' %}
{% assign parallax_enabled = include.parallax_enabled | default: false %}

<!-- CONTACT SECTION -->
<section
	class="section section-contact is-light has-image-bg"
	style="background-image: url({{ bg_image }})">

	{% if parallax_enabled %}
		<!-- PARALLAX (OPTIONAL) -->
		{% include components/hero/hero__parallax_plugin.html image=bg_image %}
	{% endif %}

	<div class="container">
		<div class="row h-100 justify-content-end">
			<div class="col-md-8 col-lg-7 col-xl-6">
				<div class="ml-xl-4x">

					<!-- BG FILL -->
					<div class="bg-fill is-white"></div>

					<!-- WOW WRAPPER -->
					<div class="wow fadeIn">

						<!-- HEADER -->
						<h2 class="text-uppercase mb-4">
							Contact Us
						</h2>

						<!-- SPACER -->
						<div class="spacer mb-lg-3"></div>

						<!-- TEXT -->
						<p class="h4 font-weight-normal">
							For any general inquiries, please fill in the following contact form
						</p>

						<br>

						{% include components/forms/form_contact.html %}

					</div>
				</div>
			</div>
		</div>
	</div>
</section>