{% assign settings = site.data.settings %}
{% assign au_office = settings.offices['aus'][0] %}
{% assign bg_image = include.bg_image | default: '' %}
{% assign parallax_enabled = include.parallax_enabled | default: false %}
{% assign practice_areas = site.data.sitemap['Practice Areas'].children %}

<!-- PRACTICE AREAS SECTION -->
<section
	class="section section-practice-areas is-light is-primary"
	style="background-image: url({{ bg_image }})">

	{% if parallax_enabled %}
		<!-- PARALLAX (OPTIONAL) -->
		{% include components/hero/hero__parallax_plugin.html image=bg_image %}
	{% endif %}

	<div class="container">
		<div class="row h-100">
			<div class="col-md-5 col-lg-5">
				<div class="row">
					<div class="col-md-9 pr-md-5">

						<!-- HEADER -->
						<h2 class="is-unique float-md-right text-uppercase text-body mb-4 wow fadeIn">
							Practice <span class="d-md-block font-weight-normal">Areas</span>
						</h2>

					</div>
				</div>
			</div>
			<div class="col-md-7 col-lg-7 col-xl-7">

				<!-- BG FILL -->
				<div class="bg-fill is-white ml-xl-4"></div>

				<!-- PRACTICE AREAS -->
				<ul class="list-squares block-grid-xs-1 block-grid-md-2 wow fadeIn">

					<li>
		                <a href="/practice-areas/practice-areas-item/">
		                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
		                    	Family Law
		                    </h3>
		                </a>
					</li>
					<li>
		                <a href="/practice-areas/practice-areas-item/">
		                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
		                    	Wills and Estates
		                    </h3>
		                </a>
					</li>
					<li>
		                <a href="/practice-areas/practice-areas-item/">
		                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
		                    	Workplace Injury
		                    </h3>
		                </a>
					</li>
					<li>
		                <a href="/practice-areas/practice-areas-item/">
		                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
		                    	Elder Law
		                    </h3>
		                </a>
					</li>
					<li>
		                <a href="/practice-areas/practice-areas-item/">
		                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
		                    	Personal Injury
		                    </h3>
		                </a>
					</li>
					<li>
		                <a href="/practice-areas/practice-areas-item/">
		                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
		                    	Employment and Industrial
		                    </h3>
		                </a>
					</li>
					<li>
		                <a href="/practice-areas/practice-areas-item/">
		                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
		                    	Criminal and Police Matters
		                    </h3>
		                </a>
					</li>
					<li>
		                <a href="/practice-areas/practice-areas-item/">
		                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
		                    	Commercial and Business
		                    </h3>
		                </a>
					</li>
					<li>
		                <a href="/practice-areas/practice-areas-item/">
		                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
		                    	Conveyancing
		                    </h3>
		                </a>
					</li>
					<li>
		                <a href="/practice-areas/practice-areas-item/">
		                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
		                    	Other Legal Services
		                    </h3>
		                </a>
					</li>

					{% comment %}
					{% for item in practice_areas %}
						<li>
			                <a class="" href="{{ item[1].url }}">
			                    <h3 class="h4 font-weight-normal text-uppercase text-body mb-0">
			                    	{{ item[0] }}
			                    </h3>
			                </a>
						</li>
					{% endfor %}
					{% endcomment %}

				</ul>

			</div>
		</div>
	</div>
</section>