/*
    TOPBAR.CSS *NEW*

    - updated: 03.07.19, 14.06.19, 16.04.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// NAVIGATION
//-----------------------------------------------------------------

.global-navigation {
    position: relative; // [LOCKED]
    top: rem-calc(-36);
    right: rem-calc(-20);
}

//-----------------------------------------------------------------
// GENERAL UL
//-----------------------------------------------------------------

.lv-topbar ul {
    padding: 0; // [RESET]
    margin: 0;  // [RESET]
    list-style: none; // [RESET]
}

//=========================================
// TOP PARENT UL
//=========================================

.lv-topbar > ul {
    display: flex;

    > li {
        position: relative; // [LOCKED]
        margin: 0; // [RESET]
    }
}

//-----------------------------------------------------------------
// ALL ANCHORS (INCL. DROPDOWN CHILDREN)
//-----------------------------------------------------------------

.lv-topbar a {
    display: block; // [LOCKED]
    text-decoration: none; // [LOCKED]
    // font-weight: $font-weight-bold; // [LOCKED]

    .submenu-arrow {
        display: none;
    }
}

//-----------------------------------------------------------------
// TOP PARENT ANCHORS
//-----------------------------------------------------------------

.lv-topbar > ul > li > a {
    display: block; // [LOCKED]
    position: relative; // for triangle - if present
    padding: rem-calc(0 20);
    padding-top: rem-calc(5); // SPECIAL CASE - Josefin font is a little weird
    font-size: rem-calc(15);
    text-transform: uppercase;
    line-height: 44px; // [LOCKED]
    color: white; // [THEMABLE]
    text-transform: uppercase;
}

//-----------------------------------------------------------------
// HOVER, ACTIVE
//-----------------------------------------------------------------

// ANCHOR HOVER
.lv-topbar > ul > li > a:hover {
    background: rgba(black, 0.08); // [THEMEABLE]
    // color: lighten($primary, 20%);
}

// ANCHOR ACTIVE
.lv-topbar > ul > li.active-parent > a,
.lv-topbar > ul > li.active > a  {
    // background: rgba(black, 0.08); // [THEMEABLE]
    // color: $primary;

    > .text {
        padding-bottom: 5px;
        border-bottom: 2px solid white;
    }
}

// DEEP DROPDOWNS ALWAYS HIDDEN
.lv-topbar .dropdown .dropdown {
    display: none;
}

//-----------------------------------------------------------------
// DROPDOWN ANCHOR HOVERS
//-----------------------------------------------------------------

.lv-topbar > ul > li:hover > a {
    background: rgba(black, 0.1);

    > .text {
        border-color: transparent; // [LOCKED]
    }
}

//-----------------------------------------------------------------

// SHOW DROPDOWN
// .lv-topbar > ul > li.active > .dropdown {
//     visibility: visible;
//     transform: translateY(0);
//     transition: none;
//     display: flex;
//     z-index: 1; // [LOCKED] - fixes glitch
// }

//-----------------------------------------------------------------
// DROPDOWN ANCHOR HOVERS
//-----------------------------------------------------------------

.lv-topbar > ul > li.has-dropdown:hover > a {
    background: rgba(black, 0.1);

    .text {
        border-color: transparent; // [LOCKED]
    }
}

.lv-topbar .has-dropdown:hover > .dropdown {
    @include media-breakpoint-up(lg) {
        height: auto;
        overflow: visible;
        visibility: visible;
        transform: translateY(0);
    }
}

//-----------------------------------------------------------------
// DROPDOWNS
//-----------------------------------------------------------------

.lv-topbar .dropdown {
    position: absolute;
    left: 0;
    width: rem-calc(280);
    height: 0; // so hit areas aren't triggered
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2); // same as bootstrap dropdown in header
    background: white;
    overflow: hidden; // prevent hit areas triggering
    visibility: hidden;
    transform: translateY(10px);
    transition: transform 200ms ease;

    // [OPT IN DESIGN / OFF CANVAS ETC]
    &.is-excluded-from-nav,
    &.is-excluded-from-nav .dropdown {
        display: none; // is-excluded-from-nav
    }
}

//-----------------------------------------------------------------
// DROPDOWN ALIGN
//-----------------------------------------------------------------

// Prevent far-right dropdown from exceeding page width
.lv-topbar .is-right-aligned .dropdown {
    right: 0;
    left: auto;
}

.lv-topbar .dropdown.is-nav-included {
    display: block;
}

//=========================================
// DROPDOWN LIST + ANCHORS
//=========================================

.lv-topbar .dropdown li {
    position: relative;
    border-bottom: 1px solid rgba(black, 0.1);

    a {
        padding: rem-calc(10 20);
        font-size: rem-calc(14); // opinionated
        font-weight: $font-weight-normal;
        color: #444;
        transition: none; // [LOCKED]

        &:hover {
            background: rgba(black, 0.05);
        }
    }
}

.lv-topbar .dropdown li:last-child {
    border-bottom: 0;
}

//-----------------------------------------------------------------
// MEGA MENU DROPDOWNS
//-----------------------------------------------------------------

// .lv-topbar .has-dropdown.is-mega > .dropdown {
//     display: flex;
//     flex-wrap: wrap;
//     width: rem-calc(650);

//     li {
//         width: 33.33%;
//     }
// }

//-----------------------------------------------------------------
// CONTEXT
//-----------------------------------------------------------------

.is-off-canvas-only {
    display: none;
}

.lv-off-canvas .is-off-canvas-only {
    display: block;
    border: 0;
}

//=========================================
//
//=========================================

//=========================================
//
//=========================================