---
layout: base
---

{% assign sub_levels = page.subpage_path %}
{% assign level_1 = sub_levels[0] %}
{% assign level_2 = sub_levels[1] %}

{% assign current_level = sub_levels | size %}
	{% if current_level >= 2 %}
		{% assign subpages = site.data.sitemap[level_1].children[level_2].children %}
	{% else %}
		{% assign subpages = site.data.sitemap[level_1].children %}
{% endif %}

<!-- SECTION -->
<section class="section">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-7 col-xl-8 pr-xl-5">

				{{ content }}

				<!-- SPACER -->
				<div class="spacer mb-4 mb-lg-0"></div>

	        </div>
	        <div class="col-lg-5 col-xl-4">

	        	<!-- SIDEBAR -->
				<aside class="sidebar">

					{% if subpages %}
						<!-- SIDE NAV  -->
						<div class="side-nav is-small mb-4">
							{% include components/navigation/nav.html data=subpages %}
						</div>
					{% endif %}

					{% contentblock sidebar no-convert %}

				</aside>
	        </div>
	    </div>
	</div>
</section>

{% contentblock content_additional no-convert %}

<!-- *** FOR WEBVISUAL.COM DEMO PURPOSES ONLY - DELETE ME *** -->
<script>
	if (window.location.hostname === 'gnl.yourwebvisual.com' ||
	    window.location === 'localhost' ||
	    window.location.hostname === '10.0.1.3') {

		var li = document.querySelectorAll('.side-nav > ul li');

		li.forEach(function(item) {
			if (window.location.pathname === '/services/services-item/services-item/' && item.dataset.hook !== 'drug-offences')
				item.classList.remove('active');
		});
	}
</script>
<!-- *** / FOR WEBVISUAL.COM DEMO PURPOSES ONLY - DELETE ME *** -->