---
layout: base__page_sidebar_6x6_nav
---

{% assign settings = site.data.settings %}
{% assign item_1 = settings.offices.qld[0] %}
{% assign item_2 = settings.offices.qld[1] %}

<!-- SECTION -->
<section>

    <!-- HEADING -->
    <h3 class="mb-4">
        Brisbane
    </h3>

    <!-- CONTACTS -->
    <p class="mb-0">

        <!-- PHONE -->
        <a class="d-inline-flex align-items-center text-body mr-4 mb-3" href="tel:{{ item_1.phone }}">
            <i class="text-primary fa fa-phone fa-fw mr-1"></i>
            <span class="text">{{ item_1.phone }} (24 hours)</span>
        </a>

        <!-- EMAIL -->
        <a class="d-inline-flex align-items-center text-body mr-4 mb-3" href="mailto:{{ item_1.email }}">
            <i class="text-primary fa fa-envelope fa-fw mr-1"></i>
            <span class="text">{{ item_1.email }}</span>
        </a>

        <!-- FAX -->
        <a class="d-inline-flex align-items-center text-body mb-3" href="tel:{{ item_1.fax }}">
            <i class="text-primary fa fa-fax fa-fw mr-1"></i>
            <span class="text">{{ item_1.fax }}</span>
        </a>
    </p>

    <!-- ADDRESS -->
    <p class="mb-3">
        <a class="d-inline-flex align-items-start text-body" href="{{ item_1.map }}" target="_blank">
            <i class="text-primary fa fa-map-marker fa-fw mr-1"></i>
            <span class="text">{{ item_1.address }}</span>
        </a>
    </p>

    <!-- PO BOX -->
    <p class="mb-5">
        <a class="d-inline-flex align-items-start text-body" href="{{ item_1.map }}">
            <i class="text-primary fa fa-envelope-o fa-fw mr-1"></i>
            <span class="text">PO Box 12215, George Street Post Shop, Brisbane QLD 4003</span>
        </a>
    </p>

    <!-- HEADING -->
    <h3 class="mb-4">
        Caboolture (by appt)
    </h3>

    <!-- CONTACTS -->
    <p class="mb-3">

        <!-- PHONE -->
        <a class="d-inline-flex align-items-center text-body mr-4" href="tel:{{ item_1.phone }}">
            <i class="text-primary fa fa-phone fa-fw mr-1"></i>
            <span class="text">{{ item_2.phone }} (24 hours)</span>
        </a>

        <!-- EMAIL -->
        <a class="d-inline-flex align-items-center text-body mr-4" href="mailto:{{ item_1.email }}">
            <i class="text-primary fa fa-envelope fa-fw mr-1"></i>
            <span class="text">{{ item_2.email }}</span>
        </a>

    </p>

    <!-- ADDRESS -->
    <p class="mb-5">
        <span class="d-inline-flex align-items-start">
            <i class="text-primary fa fa-map-marker mr-3"></i>
            <span class="text">
                {{ item_2.address }}
            </span>
        </span>
    </p>

</section>

{% contentfor sidebar %}

    <!-- HEADING -->
    <h3 class="mb-4">
        Make an enquiry today
    </h3>

    {% include components/forms/form_contact.html %}
{% endcontentfor %}

{% contentfor content_additional %}
    {% include components/widgets/google_map.html id="google-map" %}
{% endcontentfor %}