---
layout: base__page_sidebar_6x6_nav
---

{% assign services = site.data.sitemap['Services'].children %}

{% comment %}
{% contentfor hero_caption %}

    <div class="row justify-content-center">
        <div class="col-md-8">

            <!-- HEADING -->
        	<h1 class="display-1 text-white text-uppercase mb-4">
                {{ page.title }}
            </h1>

            <!-- LEAD -->
            <p class="display-3 mb-4 pb-1">
                {{ page.lead }}
            </p>

            <!-- WYSIWYG -->
            <div class="wysiwyg h4 font-weight-normal">
                {{ content }}
            </div>

        </div>
    </div>

{% endcontentfor %}
{% endcomment %}

<!-- LEAD -->
<p class="lead mb-4">
    {{ page.lead }}
</p>

<!-- WYSIWYG -->
<div class="wysiwyg">
    {{ content }}
</div>

{% comment %}
<!-- PRACTICE AREAS -->
<section class="section pb-0 pb-md-5">
    <div class="container">
        <div class="row">
            {% for item in services %}
                <div class="col-md-6 col-lg-4 mb-4 wow fadeIn">

                    <!-- CARD -->
                    <div class="card h-100 is-flat">

                        <!-- IMAGE -->
                        <a class="btn-tile" href="{{ item[1].url }}">
                            <img width="100%" class="card-img-top" src="/assets/img/layout/thumb-sizer--440x180.svg" alt="{{ item[0] }}">
                            <span class="btn-tile-bg" style="background-image: url({{ item[1].image }})"></span>
                        </a>

                        <!-- CARD BODY -->
                        <div class="card-body d-flex flex-column">

                            <!-- TITLE -->
                            <a class="mb-1" href="{{ item.url }}">
                                <h3 class="h4 card-title text-uppercase text-primary">{{ item[0] }}&nbsp;<i class="fa fa-angle-right"></i></h3>
                            </a>

                            <!-- TEXT -->
                            <div class="card-text mb-2">
                                {{ item[1].description | markdownify }}
                            </div>

                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endcomment %}