---
layout: base__page
---

{% assign posts = site.data.lorem_ipsum %}

<!-- SECTION -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 order-md-last">
				<div class="row">
					<div class="col-xl-9">

						<!-- HEADER -->
						<header class="mb-4 pb-1">
							<h1>Sarah Ford</h1>
							<h3 class="h4">Associate</h3>
						</header>

						<!-- PHOTO (MOBILE ONLY) -->
						<p class="mb-4 hidden-md-up">
							<img width="100%" src="/assets/img/content/team/sarah-ford@2x.jpg" alt="Sarah Ford">
						</p>

						<!-- EMAIL -->
	                    <a class="d-inline-flex align-items-center mb-2 mb-md-0" href="mailto:camille@email.com" data-toggle="modal" data-target="#contact-modal">
	                        <i class="fa fa-envelope mr-2 text-body"></i>
	                        <span class="text">Send an email</span>
	                    </a> <span class="mx-2">|</span>

	                	<!-- PHONE -->
	                    <a class="d-inline-flex align-items-center mb-2 mb-md-0" href="tel:0884474911">
	                        <i class="fa fa-phone mr-2 text-body"></i>
	                        <span class="text">(08) 8447 4911</span>
	                    </a> <span class="mx-2 hidden-sm-down">|</span>

	                	<!-- FAX -->
	                    <a class="d-block d-md-inline-flex align-items-center mb-2 mb-md-0" href="#/LINK-HERE">
	                        <i class="fa fa-fax mr-2 text-body"></i>
	                        <span class="text">(08) 8238 6600</span>
	                    </a>

	                    <hr>

						<!-- LEAD -->
						<p class="lead mb-4">
							{{ page.lead }}
						</p>

						<!-- WYSIWYG -->
						<div class="wysiwyg mb-4">
							{{ content | markdownify }}
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-4">

				<!-- PHOTO (DESKTOP) -->
				<p class="mb-1 hidden-sm-down">
					<img width="100%" src="/assets/img/content/team/sarah-ford@2x.jpg" alt="Sarah Ford">
				</p>

				<!-- AREAS OF EXPERTISE -->
				<div class="sidebox mb-1">

					<!-- HEADING -->
					<h3 class="sidebox-header h5 text-uppercase mb-3">
						Camille's Areas of Expertise
					</h3>

					<!-- LIST -->
					<div class="sidebox-body">
						<ul class="block-grid-xs-1">
							<li>Children's issues</li>
							<li>Property settlement</li>
							<li>Divorce</li>
							<li>Consent Orders</li>
							<li>Mediation and Negotiation</li>
							<li>Recovery and relocation</li>
							<li>Child abuse matters</li>
						</ul>
					</div>
				</div>

				<!-- SEE BLOG POSTS (OPTIONAL) -->
				<a href="/blog/" class="btn btn-primary side-btn btn-block text-left">
					<i class="fa fa-comment icon mr-2"></i> See Blog Posts by Camille
					<i class="ml-auto fa fa-angle-right"></i>
				</a>

			</div>
		</div>
	</div>
</section>

{% comment %}
<!-- PEOPLE -->
<section class="section is-gray wow fadeIn">
	<div class="container">

	    <!-- HEADER -->
	    <header>
	    	<div class="row align-items-center">
	    		<div class="col-md-6">

	    			<!-- HEADING -->
	    			<h2 class="text-uppercase mb-2">
	    				<i class="fa fa-users mr-1"></i> Browse <span class="font-weight-normal">People</span>
	    			</h2>

	    		</div>
	    		<div class="col-md-6 text-md-right">

	    			<!-- MORE BLOG POSTS -->
	    			<a class="text-uppercase ml-auto text-dark" href="/our-people/">View All <i class="fa fa-angle-right"></i></a>

	    		</div>
	    	</div>
	    </header>

		<!-- DIVIDER -->
	    <hr class="mb-5">

		<!-- PEOPLE -->
		<ul class="block-grid-xs-1 block-grid-md-3 block-grid-xl-4 is-condensed-more mb-4">
			{% for item in site.data.staff limit: 20 %}
				<li>
					{% include components/media/media_btn.html %}
				</li>
			{% endfor %}
		</ul>

	</div>
</section>
{% endcomment %}

{% include sections/section_blog_latest_minimal.html %}

{% include components/modals/modal_contact_form.html %}