---
layout: base__page
---

{% assign staff = site.data.staff %}

<!-- TEAM SECTION -->
<section class="section">
	<div class="container">
		<ul class="block-grid-xs-2 block-grid-md-3 block-grid-lg-4 block-grid-xl-5 is-condensed mb-5">
			{% for item in staff %}
				<li>
					<!-- CARD -->
					<div class="card is-flat">

						<!-- IMAGE -->
						<a class="btn-tile" href="{{ item.url }}">
							<img width="100%" class="card-img-top" src="/assets/img/ui/no-face.png" alt="{{ item.name }}">
							<span class="btn-tile-bg" style="background-image: url('{{item.image }}'"></span>
						</a>

						<!-- CARD BODY -->
						<div class="card-body d-flex flex-column">

							<!-- TITLE -->
							<a href="{{ item.url }}">
								<h3 class="h5 font-weight-bold text-uppercase text-body card-title mb-1">
									{{ item.name }}
								</h3>
							</a>

							<!-- POSITION -->
							<p class="text-muted h5 font-weight-normal">
								<span>
									{{ item.position }}
								</span>
							</p>

						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

