---
layout: base__page_sidebar_6x6_nav
---

{% assign settings = site.data.settings %}

<!-- HEADER -->
<h1 class="text-uppercase">
	{{ page.title }}
</h1>

<!-- POSITION -->
<h3 class="h4 text-muted mb-4 pb-2">
	Managing Director
</h3>

<!-- LEAD -->
<p class="lead mb-4">
	{{ page.lead }}
</p>

<!-- WYSIWYG -->
<div class="wysiwyg mb-4">
	{{ content }}
</div>

{% contentfor sidebar %}

	<!-- PERSONAL DETAILS -->
	<section>

		<!-- PHOTO -->
		<p class="mb-1">
			<img width="100%" src="/assets/img/content/glen-cranny.jpg" alt="Glen Cranny">
		</p>

		<!-- GET IN TOUCH -->
		<div class="sidebox mb-1">

			<!-- HEADER -->
			<h3 class="sidebox-header h5 text-uppercase mb-3">
				Get in Touch with Glen
			</h3>

			<!-- BODY -->
			<div class="sidebox-body">
				<div class="row">
					<div class="col-xxl-5">

						<!-- TELEPHONE -->
						<p class="mb-3">
						    <a class="d-inline-flex align-items-center" href="tel:0733610240">
						        <i class="fa fa-phone mr-2"></i>
						        <span class="text">(07) 3361 0240</span>
						    </a>
						</p>

						<!-- MOBILE -->
						<p class="mb-3">
						    <a class="d-inline-flex align-items-center" href="tel:0401139750">
						        <i class="fa fa-mobile mr-2"></i>
						        <span class="text">0401 139 750</span>
						    </a>
						</p>

						<!-- EMAIL -->
						<p class="mb-3">
		                    <a class="d-inline-flex align-items-center" href="mailto:gcranny@gnl.com.au">
		                        <i class="fa fa-envelope mr-2"></i>
		                        <span class="text">gcranny@gnl.com.au</span>
		                    </a>
		                </p>

					</div>
					<div class="col-xxl-7">

						<!-- LINKED IN -->
						<p class="mb-3">
						    <a class="d-inline-flex align-items-center" href="#/LINK-HERE">
						        <i class="fa fa-linkedin mr-2"></i>
						        <span class="text">LinkedIn profile</span>
						    </a>
						</p>

						<!-- ADDRESS -->
	    				<p class="mb-0">
	                        <a class="d-inline-flex align-items-start" href="#/LINK-HERE">
	                            <i class="fa fa-map-marker mr-2"></i>
	                            <span class="text">
	                            	{{ site.data.settings.offices.qld[0].address }}
	                            </span>
	                        </a>
	                    </p>

					</div>
				</div>
			</div>
		</div>

		<!-- QUALIFICATIONS -->
		<div class="sidebox mb-4">

			<!-- HEADER -->
			<h3 class="sidebox-header h5 text-uppercase mb-3">
				Qualifications
			</h3>

			<!-- BODY -->
			<div class="sidebox-body">
				<ul class="block-grid-xs-1">
					<li>- LLB BA Acc. Spec. (Crim) – Qld</li>
					<li>- Qualification example text here</li>
				</ul>
			</div>

		</div>
	</section>
{% endcontentfor %}

{% comment %}
{% contentfor content_additional %}
	<!-- BLOG POSTS -->
	<section class="section">
		<div class="container">

			<!-- HEADER -->
			<h2 class="text-uppercase text-center mb-5">
				Latest Blogs &amp; News - Personal Compensation Law
			</h2>

			{% include components/cards/cards.html flat="true" columns=4 %}

			<!-- BUTTON -->
			<p class="text-center mb-0">
				<a href="#" class="btn btn-secondary">More Blog Articles &nbsp;<i class="fa fa-angle-right"></i></a>
			</p>

		</div>
	</section>
{% endcontentfor %}
{% endcomment %}