{% comment %}
<!--
    HERO DEFAULT

    - Updated: 06.02.19
    - Complete functionality incl. youtube video, commonly used on homepages
-->
{% endcomment %}

{% assign id = include.id %}
{% assign options = include.options | default: 'is-auto' %}
{% assign slides = include.data %}
{% assign youtube_script_included_once = false %}
{% assign html5_video_script_included_once = false %}

<!-- HERO WRAPPER -->
<section id="{{ id }}" class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero {{ options }}">

        <!-- HERO ITEMS -->
        {% for item in slides | limit: 1 %}
            <div class="lv-hero-item {{ item.options }} is-tinted">

                <!-- HERO SLIDER (OVERLAY BEHIND) -->
                <div class="lv-hero-item-slider-wrapper has-fade-transition" data-hero-slider>
                    <div class="lv-hero-item-slider"

                        {% if slides.size > 1 %}
                            data-flickity='
                            {
                                "adaptiveHeight": true,
                                "autoPlay": 8000,
                                "cellAlign": "left",
                                "contain": true,
                                "draggable": false,
                                "dragThreshold": 40,
                                "freeScroll": false,
                                "freeScrollFriction": 0.075,
                                "friction": 0.28,
                                "groupCells": false,
                                "imagesLoaded": true,
                                "pageDots": false,
                                "pauseAutoPlayOnHover": true,
                                "prevNextButtons": false,
                                "selectedAttraction": 0.025,
                                "watchCSS": false,
                                "wrapAround": true
                            }'
                        {% endif %}
                        >

                        {% for item in slides %}
                            <div class="lv-hero-item-slide" style="background-image: url('{{ item.image }}')">

                                {% if item.scroll_prompt %}
                                    <!-- SCROLL PROMPT -->
                                    <a class="lv-hero-scroll-prompt hidden-lg-down"><i class="fa fa-angle-down"></i></a>
                                {% endif %}

                                {% if item.youtube_id %}
                                    {% include components/hero/hero__youtube_plugin.html %}
                                {% elsif item.vimeo_id %}
                                    {% include components/hero/hero__vimeo_plugin.html %}
                                {% elsif item.video %}
                                    {% include components/hero/hero__html5_video_plugin.html %}
                                {% endif %}

                                {% comment %}
                                <!-- PARALLAX (OPTIONAL) -->
                                {% unless item.youtube_id or item.vimeo_id  %}
                                    {% if item.image %}
                                        {% include components/hero/hero__parallax_plugin.html image=item.image %}
                                    {% endif %}
                                {% endunless  %}
                                {% endcomment %}

                            </div>
                        {% endfor %}

                    </div>
                </div> <!-- /.hero-item-slider-wrapper -->

                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-lg-5 col-xl-12">

                            <!-- HERO CAPTION -->
                            <div class="lv-hero-item-caption animated fadeInLeftSubtle">

                                <!-- HEADER -->
                                <h1 class="h2 text-uppercase mb-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ page.title }}
                                        </div>
                                    </div>
                                </h1>

                                <div class="row">
                                    <div class="col-md-5">
                                        <p>We are leaders in criminal defence and professional misconduct cases, and are the lawyers of choice for those that want private legal representation of the highest quality and skill.</p>

                                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo enim justo, rhoncus.</p>

                                        <p>
                                            <a class="btn btn-primary mr-2" href="">About <i class="fa fa-angle-right"></i></a>
                                            <a class="btn btn-primary" href="">Meet Our Team <i class="fa fa-angle-right"></i></a>
                                        </p>

                                    </div>
                                </div>


                                <!-- LEAD -->
                                <!-- <p class="h4 font-weight-normal"> -->
                                    <!-- { { page.lead }} -->
                                <!-- </p> -->

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}

    </div> <!-- /.lv-hero -->

    {% comment %}
    {% if slides.size > 1 %}
        <!-- SLIDER CONTROLS -->
        <div class="lv-hero-slider-controls hidden-lg-down">
            <span class="lv-hero-slider-prev-btn"><i class="fa fa-angle-left"></i></span>
            <span class="lv-hero-slider-next-btn"><i class="fa fa-angle-right"></i></span>
        </div>
    {% endif %}
    {% endcomment %}

</section> <!-- /.lv-hero-wrapper -->